<div class="ui blue inverted menu">
  <div class="ui container">
    <div class="header item">
      <i class="chat icon"></i>
      <%= link_to "Chatroom", root_path, class: "item" %>
    </div>
    <a class="item">
      <i class="mail icon"></i>
      Messages
    </a>
    <a class="item">
      <i class="info icon"></i>
      About Us
    </a>
    <div class="right menu">
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, method: :delete, class: "item" %>
      <% else %>
        <%= link_to "Log In", login_path, class: "item" %>
        <%= link_to "Sign Up", login_path, class: "item" %>
      <% end %>
    </div>
  </div>
</div>
