<div class="ui blue inverted menu">
  <div class="ui container">
    <div class="header item">
      <i class="home icon"></i>
      Home
    </div>
    <a class="item">
      <i class="info icon"></i>
      About Us
    </a>
    <a class="item">
      Jobs
    </a>
    <a class="item">
      Locations
    </a>
    </div>
</div>

