<div class="ui blue inverted menu">
  <div class="ui container">
    <div class="header item">
      <i class="chat icon"></i>
      Chatrooms
    </div>
    <a class="item">
      <i class="mail icon"></i>
      Messages
    </a>
    <a class="item">
      <i class="info icon"></i>
      About Us
    </a>
    <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">Log In</a>
        <a class="item">Log Out</a>
        <a class="item">Sign Up</a>
      </div>
      </div>
    <div class="ui primary button">Sign Up</div>
    </div>
  </div>
</div>

